@model Book
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Do you really want to delete data?</h1>
<p>Title:</p>
<h3>@Model.Title</h3>
<p>Author:</p>
<h3>@Model.Author</h3>
<p>Number Of Pages:</p>
<h3>@Model.NumberOfPages</h3>
<p>ISBN:</p>
<h3>@Model.ISBN</h3>
<p>Publication Date:</p>
<h3>@Model.PublicationDate</h3>
<p>Publishing House:</p>
<h3>@Model.PublishingHouse</h3>
<form asp-action="Delete">
    <input asp-for="Id" />
    <button class="btn btn-danger" type="submit">Yes</button>
    <a  class="btn btn-outline-dark"  type="submit" asp-action="Index">No</a>
</form>
