@model Dictionary<int, Book>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>List of books</h1>
<a class="btn btn-primary" asp-controller="Library" asp-action="AddBook">Add book</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Number of pages
            </th>
            @* <th>
                ISBN
            </th>
            <th>
                Publication date
            </th>
            <th>
                Publishing house
            </th> *@
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.Value.Title
                </td>
                <td>
                    @item.Value.Author
                </td>
                <td>
                    @item.Value.NumberOfPages
                </td>
                @* <td>
                    @item.Value.ISBN
                </td>
                <td>
                    @item.Value.PublicationDate
                </td>
                <td>
                    @item.Value.PublishingHouse
                </td> *@
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Library" asp-action="Edit" asp-route-id="@item.Key">Edit</a>
                    <a class="btn btn-outline-info" asp-controller="Library" asp-action="Details" asp-route-id="@item.Key">Details</a>
                    <a class="btn btn-outline-danger" asp-controller="Library" asp-action="Delete" asp-route-id="@item.Key">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>